body {
background-image:url("frozen.jpg");
font-family: courier new;
} 

h1{
padding:15px 15px 0 15px;
display: inline;
}

ul{
margin: 5;
display: inline; 
}

ul li{
background: black; 
color: white; 
display: inline-block; 
list-style-type: none; 
padding: 5px 15px;
}

.photo{
margin: 30px ;
}

.second{
background:#F0FFFF;
margin: 40px;
text-align: left;
}

.three{
background:#F0FFFF;
margin: 40px;
text-align: center;
}

.comment_input{
	background:#CCC;
	margin:10px;
	padding:10px;
	border:1px solid #CCC;
}

.button{
	padding:5px 15px 5px 15px;
    background:#567373;
    color: #FFF;
	border-radius: 3px;
}

.comment_logs{
	margin:5px;
	padding:5px;
	border:1px solid #CCC;
}
