body {
background-image:url("frozen.jpg");
font-family: courier new;
}

h1{
padding:15px 15px 0 15px;
display: inline;
}

ul{
margin: 5;
display: inline; 
}

ul li {
background: black; 
color: white; 
display: inline-block; 
list-style-type: none; 
padding: 5px 15px;
}

form{
border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 80%; 
}
