body {
background-image:url("frozen.jpg");
font-family: courier new;
}

h1{
padding:15px 15px 0 15px;
display: inline;
}

ul{
margin: 5;
display: inline; 
}

ul li {
background: black; 
color: white; 
display: inline-block; 
list-style-type: none; 
padding: 5px 15px;
}

p.firstp{
background:#F0FFFF;
margin: 40px;
text-align: center;
}
